.completed {
  text-decoration: line-through;
}

body {
  background-image: url("orangeGradient.png");
  background-size: cover;
}

h1 {
  font-family: 'Sonsie One', cursive;
  margin-top: 20px;
}

small {
  font-size: 40px;
}

ol {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 24px;
}

.fa-trash {
  color: #999;
}
